<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>monitor-internet-speed</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/make</string>
        <string>-f</string>
        <string>/Users/nt/work/proj/monitor-internet-speed/Makefile</string>
    </array>

    <key>StartInterval</key>
    <integer>60</integer>

    <key>StandardOutPath</key>
    <string>/Users/nt/work/proj/monitor-internet-speed/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nt/work/proj/monitor-internet-speed/stderr.log</string>
</dict>
</plist>
